# Environment variables
.env
.env.local
.env.*.local
**/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# Vue/Node
node_modules/
dist/
.DS_Store
.cache
.vuerc

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.settings/

# OS
.DS_Store
Thumbs.db

# DB
*.sqlite3

# logs
**/*.log

# Local Files
msedgedriver.exe
pages.txt
digital_serie.sql
MangaScripts/
MangaWorker/Chapters/
modelo.png

MangaDoc/main.aux
MangaDoc/main.log
MangaDoc/main.aux
MangaDoc/main.synctex(busy)
MangaDoc/main.synctex.gz
MangaDoc/main.fdb_latexmk
MangaDoc/main.out
MangaDoc/main.fls
MangaDoc/architecture.aux
MangaDoc/database.aux
MangaDoc/operations.aux
MangaDoc/security.aux

architecture_review.md
Promps.md
tree.txt
vue3-vite-best-practices.md
django-rest-framework-best-practices.md
log.txt